__pycache__/

lib/
lib64/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
.coverage
.coverage.*
.cache
*.cover
*.py,cover
.pytest_cache/
cover/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.mypy_cache/
.dmypy.json
dmypy.json

.idea/
todo.txt
